{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
	 <title>{% block title %}{% endblock %}</title>
	 <!-- link to static file in shifts/static -->
	 <link rel="stylesheet" type="text/css" href="{% static 'shifts/style.css' %}" />

	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- mobile first -->
	<meta name="viewport" content="width=device-width, initial-scale=1">


  


</head>

<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">PSAV @ 3571</a>
	    </div>
	    <ul class="nav navbar-nav">
		{% if user.is_authenticated %}
	      <li class="{% if nbar == '/' %}active{% endif %}"><a href="/">Available Shifts</a></li>

<!-- 	      <li class="{% if nbar == 'parking_train/' %}active{% endif %}"><a href="parking_train">Parking/train</a></li> -->
			
			

	       <li class="dropdown  {% if nbar == 'parking_train/' %}active{% endif %} ">
        		<a class="dropdown-toggle" data-toggle="dropdown" href="parking_train/">Travel
        		<span class="caret"></span></a>
			        <ul class="dropdown-menu">
			          <li><a href="{% url 'hotel_location' %}">Hotel Location</a></li>
			          <li><a href="{% url 'parking' %}">Parking</a></li>
			          <li><a href="{% url 'train' %}">Train</a></li>
			        </ul>
      		</li>
      	{% endif %}
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	    {% if user.is_authenticated %}

          <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          {% else %}
          <li><a href='accounts/login/'><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>

      	  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      	{% endif %}   

    	</ul>
	  </div>
	</nav>

<body>
  <!-- well -->
 <div class="container">
  <div class="well  vertical-center">
     <!-- centering text via inline class... WILL CORRECT! -->
    <h2 class="text-center">{{  jumbo_info  }}</h2> 
    <h5 class="text-center">  Providence Renaissance Hotel</h5>
    <p class="text-center">  5 Avenue of The Arts</p>
  </div> 
</div>	

	
  <div class="row">
    <div class="col-sm-2" "></div>

    <div class="col-sm-8" ">

    {% block info-content %}{% endblock %}
    
    </div>
        


    <div class="col-sm-2" ></div>
  </div>

	 {% block footer %}
	 <hr>
	 <p>Thanks for visiting my block footer.</p>
	 {% endblock %}

</body>

</html>
