{% extends 'parking_train.html' %}
{% block titel%} body_block {% endblock%}


{% block travel %}
<h1> You have Confirmed the following Shift</h2>
<table class = "table table-striped ">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>
    
  </tr>

  {% for shift in fill_db %}
    <tr>
      <td>{{ shift.date}} </td>
      <td> {{ shift.start}}</td>
      <td> {{ shift.end}}</td>
      <td> {{ shift.description}}</td>
      
        </td>
    </tr>  
  {% endfor%}


  
</table>

<h2> Please contact Brendan O'Donnell @ 401-919-5035 to change schedule</h2>

{% endblock  %}