{% extends 'base.html' %}
{% block titel%} body_block {% endblock%}


{% block content %}
<body>
  <!-- jumbotron -->
 <div class="container">
  <div class="jumbotron vertical-center">
     <!-- centering text via inline class... WILL CORRECT! -->
    <h2 class="text-center">Providence Renaissance</h2> 
    <p class="text-center">  view and select shifts by clicking the confirm button.</p> 
  </div> 
</div>

 <table class = "table table-striped ">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>
    <th>Click to Confirm</th>
  </tr>

  {% for shift in shifts %}
    <tr>
      <td> {{ shift.date}}</td>
      <td> {{ shift.start}}</td>
      <td> {{ shift.end}}</td>
      <td> {{ shift.description}}</td>
       <td> {{ shift.is_filled}}</td>
    </tr>  
  {% endfor%}


  
</table>
</body>
{% endblock  %}