{% extends 'base.html' %}
{% block titel%} body_block {% endblock%}


{% block info-content %}

<body>

  <div class="row">
    <div class="col-sm-2" "></div>

    <div class="col-sm-8" ">



 <table class = "table table-striped ">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>
    <th>Attire</th>
    <th>Click to Confirm</th>
  </tr>




  {% for shift in shifts %}
    <tr>
      <td><a href="shift/{{shift.id}}">{{ shift.date}}</a> </td>
      <td> {{ shift.start}}</td>
      <td> {{ shift.end}}</td>
      <td> {{ shift.description}}</td>
      <td> {{ shift.attire}}</td>
       <td> <a href="shift/{{shift.id}}" class="btn btn-success" role="button">Confirm</a></td>
    </tr>  

{% endfor%}
  
</table>

  
    <!-- no shifts available -->
    {% if not shifts %}
    <div class="alert alert-danger">
    <strong>No Available Shifts</strong> -all available shifts have been taken.
    </div>
    {% endif %} 

{% if not perms.shifts.can_add_date %} <!-- hide taken shifts in DET view -->
<div class="well well-sm">
<h4 class="text-center"> Hello, {{ user.get_full_name }}.</h4>
<p class="text-center"> Below are the shifts you have confirmed. </p>
</div>


 <table class = "table table-striped ">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>
    <th>Attire</th>
    
  </tr>

  {% for shift in confirmed_by_user %}
    <tr>
      <td>{{ shift.date}}</a> </td>
      <td> {{ shift.start}}</td>
      <td> {{ shift.end}}</td>
      <td> {{ shift.description}}</td>
      <td> {{ shift.attire}}</td>
       
    </tr>  
  {% endfor%}


  
</table>
{% if not confirmed_by_user %}
    <div class="alert alert-danger">
    <strong>You have no confirmed shifts</strong> 
    </div>
    {% endif %} 
</body>

{% endif %}
{% endblock  %}
