{% extends 'base.html' %}
{% block titel%} body_block {% endblock%}


{% block content %}
<body>
  <!-- jumbotron -->
 <div class="container">
  <div class="jumbotron vertical-center">
     <!-- centering text via inline class... WILL CORRECT! -->
    <h2 class="text-center">Providence Renaissance</h2> 
    <p class="text-center"> {{  jumbo_info  }} </p>
  </div> 
</div>

<!-- begin location, parking, train nav bar -->

  <div class="row">
    <div class="col-sm-2" "></div>

    <div class="col-sm-8" ">

    {% block travel %}{% endblock %}
    
    </div>
        


    <div class="col-sm-2" ></div>
  </div>

  <!-- allow seperate sub pages -->
 
</body>
{% endblock  %}