{% extends 'base.html' %}
{% block titel%} body_block {% endblock%}


{% block content %}
<body>
  <!-- jumbotron -->
 <div class="container">
  <div class="jumbotron vertical-center">
     <!-- centering text via inline class... WILL CORRECT! -->
    <h2 class="text-center">Providence Renaissance</h2> 
    <p class="text-center"> {{  jumbo_info  }} </p>
  </div> 
</div>

<!-- begin location, parking, train nav bar -->

  <div class="row">
    <div class="col-sm-2" style="background-color:lavender;">l</div>

    <div class="col-sm-8" style="background-color:lavenderblush;">

    {% block travel %}{% endblock %}
    center
    </div>
        


    <div class="col-sm-2" style="background-color:lavender;">r</div>
  </div>

  <!-- allow seperate sub pages -->
 
</body>
{% endblock  %}