{% extends 'base.html' %}
{% block titel%} body_block {% endblock%}


{% block info-content %}




 {% for today in today_set %}
 {% for yesterday in yesterday_set %}
 {% for tommorow in tommorow_set %}



<div class="container">
  <h2>Room Sets</h2>
          
  <table class="table table-bordered .table-hover">
    <thead>
      <tr>
      	<th>Room</th>
        <th>Yesterday<br>{{yesterday_date_is}}</th>
        <th>Today<br>{{today_date_is}}</th>
        <th>Tommorow<br>{{tommorow_date_is}}</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Symphony A</td>
        <td>{{yesterday.symph_a|linebreaks}}</td>
        <td>{{ today.symph_a|linebreaks }} </td>
        <td>{{ tommorow.symph_a|linebreaks }}</td>
      </tr>

      <tr>
        <td>Symphony B</td>
        <td>{{yesterday.symph_b|linebreaks}}</td>
        <td>{{ today.symph_b|linebreaks }} </td>
        <td>{{ tommorow.symph_b|linebreaks }}</td>
      </tr>

      <tr>
        <td>Ballroom</td>
        <td>{{yesterday.ballroom|linebreaks}}</td>
        <td>{{ today.ballroom|linebreaks }} </td>
        <td>{{ tommorow.ballroom|linebreaks }}</td>
      </tr>

      <tr>
        <td>Mozart</td>
        <td>{{yesterday.mozart|linebreaks}}</td>
        <td>{{ today.mozart|linebreaks }} </td>
        <td>{{ tommorow.mozart|linebreaks }}</td>
      </tr>

      <tr>
        <td>Beethoven</td>
        <td>{{yesterday.beethoven|linebreaks}}</td>
        <td>{{ today.beethoven|linebreaks }} </td>
        <td>{{ tommorow.beethoven|linebreaks }}</td>
      </tr>

       <tr>
        <td>Temple Boardroom</td>
        <td>{{yesterday.board|linebreaks}}</td>
        <td>{{ today.board|linebreaks }} </td>
        <td>{{ tommorow.board|linebreaks }}</td>
      </tr>

       <tr>
        <td>Handel</td>
        <td>{{yesterday.handel|linebreaks}}</td>
        <td>{{ today.handel|linebreaks }} </td>
        <td>{{ tommorow.handel|linebreaks }}</td>
      </tr>

       <tr>
        <td>Haydn</td>
        <td>{{yesterday.haydn|linebreaks}}</td>
        <td>{{ today.haydn|linebreaks }} </td>
        <td>{{ tommorow.haydn|linebreaks }}</td>
      </tr>

       <tr>
        <td>33rd</td>
        <td>{{yesterday.thirty_third|linebreaks}}</td>
        <td>{{ today.thirty_third|linebreaks }} </td>
        <td>{{ tommorow.thirty_third|linebreaks }}</td>
      </tr>

       <tr>
        <td>Capitol Boardroom</td>
        <td>{{yesterday.capitol|linebreaks}}</td>
        <td>{{ today.capitol|linebreaks }} </td>
        <td>{{ tommorow.capitol|linebreaks }}</td>
      </tr>      

       <tr>
        <td>Other</td>
        <td>{{yesterday.other|linebreaks}}</td>
        <td>{{ today.other|linebreaks }} </td>
        <td>{{ tommorow.other|linebreaks }}</td>
      </tr> 



    </tbody>
  </table>
</div>

</body>


 {% endfor%}
 {% endfor%}
 {% endfor%}
</html>

    
    
     

        



{% endblock  %}
